section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .swiper {
    width: 600px;
    height: 300px;
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ajusta la altura  */
  }
  
  .carousel img {
    max-width: 100%;
    max-height: 100%;
  }
 
  .button-container {
    /* Estilos para el contenedor de botones */
    display: flex;
    color: white;
    justify-content: center;
    margin-top: -200px; /* Ajusta el margen superior según sea necesario */
    
  }
  .centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que la sección ocupe el 100% del alto de la ventana */
  }
  .button-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
  }
  
  .custom-button {
    color: white;
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(45deg, #860ead, #115fbd ,#860ead);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 8px;
  }
  
  .custom-button:hover {
    background-color: #8110a0;
    color: white;
  }
  
  .custom-button[hidden] {
    display: none;
  }
  .home{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 550px;
    margin-left: -30px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}