
<br>
<section class="centered-section">
  <div class="carousel">
    <img *ngFor="let image of images; let i = index" [src]="image" [hidden]="!showImage(i)">
  </div>
  <a *ngFor="let enlac of Enlace; let e = index" [href]="generateSafeUrl(enlac)" [hidden]="!showEnla(e)">visitar</a>
</section>

<div class="button-container">
  <button mat-flat-button class="Boton" color="primary" (click)="prevImage()">Anterior</button>
  <button mat-flat-button class="Boton" color="primary" (click)="nextImage()">Siguiente</button>
</div>