
#container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container-id{
    position: relative;
    padding: 50px 50px;
	border-radius: 50px;
	background: rgb(12,16,34);
	background: linear-gradient(144deg, rgba(12,16,34,1) 0%, rgba(19,26,54,1) 67%, rgba(81,18,187,1) 100%);
}

::placeholder{
	color: rgba(128, 128, 128, 0.556);
}

h1{
	font-weight: normal;
	font-size: 4em;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #FFF;
	text-align: center;
    padding-bottom: 10px;
}

#form{
	height: 100%;
	overflow: hidden;
	position: relative;
}

form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
}

label, input, textarea{
	display: block;
}

input, textarea{
	width: 500px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 20px;
	color: purple;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #c998f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input:focus, textarea:focus{
	border: solid 3px #c277e0;
}

#message-form{
	padding-bottom: 20px;
}

textarea{
	height: 100px;
	resize: none;
	overflow: auto;
}
/* input[type="submit"]{
	background-color: rgb(136, 0, 255);
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #9d0ee5;
} */

label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}




#button{
	padding: 25px 30px;
	background-color: #0a041e;
	color: floralwhite;
	font-weight: bold;
	border: none;

	border-radius: 50px;
	letter-spacing: 4px;
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;
  }
  
  #button:hover{
	  background: #6300cc;
	  color: #050801;
  }