<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div>
  <h1>{{ 'demo.heading' | translate }}</h1>

  <!-- translation: translation pipe -->
  <!-- OPTION 1 -->
  <p>{{ 'demo.text' | translate }}</p>

  <!-- OPTION 2 -->
  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- OPTION 3x -->
  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>

  <button (click)="useLanguage('es')">es</button>
  <button (click)="useLanguage('en')">en</button>
<app-footer></app-footer>