<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<header class="header">

    
    <a routerLink="/Home"> 

        <img  width="200px" class="logo" src=".\assets\images\kinymuulogo2.png">
        <img  width="200px" class="logo-mobile" src=".\assets\images\kinymuckwhite-removebg.png">
      </a>
    
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
       <a routerLink="/Home">Home</a>
        <a routerLink="/About-us">About Us</a>
        <a routerLink="/Projects">Projects <style></style></a>
        <a routerLink="/Services">Services</a>
        <a routerLink="/Contact">Contact</a>        
    </nav>
</header>