<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" />
</head>
<header class="header">


    <a routerLink="/Home">

        <img width="200px" class="logo" src=".\assets\images\kinymuulogo2.png">
        <img width="200px" class="logo-mobile" src=".\assets\images\kinymuckwhite-removebg.png">
    </a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a [translate]="'Home'" routerLink="/Home"></a>
        <a [translate]="'AboutUs'" routerLink="/About-us"></a>
        <a [translate]="'Services'" routerLink="/Services"></a>
        <a [translate]="'Contact'" routerLink="/Contact"></a>
        <button (click)="toggleIcons(); useLanguage(showIconA ? 'en' : 'es')" class="flex items-center justify-center rounded-md bg-500 p-2 text-white focus:outline-none">
            <div id="translate" class="flex items-center mr-2">
              <img class="h-fit w-4" src="https://www.svgrepo.com/show/326688/language-outline.svg" alt="Translate Icon">
            </div>
            <div id="iconA" [ngClass]="{ 'hidden': !showIconA }" class="flex items-center mr-2">
              <span class="mr-2">EN</span>
              <img class="h-5 w-5" src="https://www.reshot.com/preview-assets/icons/JY4FM3RDA9/american-flag-JY4FM3RDA9.svg" alt="Icono A">
            </div>
            <div id="iconB" [ngClass]="{ 'hidden': showIconA }" class="hidden flex items-center mr-2">
              <span class="mr-2">ES</span>
              <img class="h-5 w-5" src="https://www.reshot.com/preview-assets/icons/7KVW45XF6R/flag-7KVW45XF6R.svg" alt="Icono B">
            </div>
          </button>
    </nav>
</header>