<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<section class="home">

    <div class="home-sci">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.linkedin.com/company/kinymuuk/about/"><i class="bx bxl-linkedin"></i></a>
    </div>

    <div class="home-content">
        <h1>Hi, we are Kinymuuk</h1>
        <h3>High tech company</h3>
        <p>
            At Kinymuuk, we're not just an IT company; we're your technology catalyst. We specialize in the latest industry technologies, offer top-notch server management, create stunning websites, conduct cutting-edge AI research, and provide data-driven business intelligence. With DevOps expertise, IT consulting, and a commitment to innovation, we're your trusted partner for a tech-powered future. Thank you for considering Kinymuuk.
        </p>
        <a href="/Contact" class="btn">Contact us</a>
    </div>

    <div class="home-sci-mobile">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
    </div>

    <div class="home-img">
        <div class="glowing-circle">
            <span></span>
            <span></span>
            <div class="image">
                <img src=".\assets\images\kinymuckwhite-removebg.png" alt="">
            </div>            
        </div>
    </div>
    

</section>