<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<section class="home">

    <div class="home-sci">
        <a href="https://www.facebook.com/profile.php?id=61550729800266"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.linkedin.com/company/kinymuuk/about/"><i class="bx bxl-linkedin"></i></a>
    </div>

    <div class="home-content">
        <h1 [translate]="'homeTittle'"></h1>
        <h3 [translate]="'homtSubtittle'"></h3>
        <p [translate]="'text'"></p>
        <a [translate]="'contactButton'" href="#/Contact" class="btn"></a>
    </div>

    <div class="home-sci-mobile">
        <a href="https://www.facebook.com/profile.php?id=61550729800266"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
    </div>

    <div class="home-img">
        <div class="glowing-circle">
            <span></span>
            <span></span>
            <div class="image">
                <img src=".\assets\images\kinymuckwhite-removebg.png" alt="">
            </div>            
        </div>
    </div>
    

</section>