<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<section class="home">

    <div class="home-sci">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
    </div>

    <div class="home-content">
        <h1>Hi, we are Kinymuuk</h1>
        <h3>High tech company</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
             nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="#" class="btn">Contact us</a>
    </div>

    <div class="home-img">
        <div class="glowing-circle">
            <span></span>
            <span></span>
            <div class="image">
                <img src=".\assets\images\kinymuckwhite-removebg.png" alt="">
            </div>            
        </div>
    </div>

</section>